<h1>User info</h1>

<%= form_for(@user) do |f| %>

  <h4>Name</h4>
  <p><%= f.text_field :name %></p>

  <h4>Image</h4>
  <p><%= f.file_field :image %></p>

  <h4>Introduction</h4>
  <p><%= f.text_area :introduction %></p>
  
   <ul><%= f.submit 'Update User' %></ul>

  <% end %>
