<h1>User info</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーが発生しました。</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>

<%= form_for(@user) do |f| %>

  <p>Name<%= f.text_field :name %></p>

  <h4>Image</h4>
  <p><%= f.attachment_field :profile_image %></p>

  <h4>Introduction</h4>
  <p><%= f.text_area :introduction %></p>
  
   <ul><%= f.submit 'Update User' %></ul>

  <% end %>

