<% if flash[:notice] %>
  <p class="flash_color"><%= flash[:notice] %></p>
<% end %>

<head>
<title>books</title>
</head>

<main>

<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
</section>

<div class="container">
<div class="row">
<div class="col-md-3">


<%# _list %>
<div>

<h2>User info</h2>

<%# image %>
<%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, fallback: "default_user.jpg" , size:'100x100'  %>

<h4>name</h4>
<%= @book.user.name %>

<h4>introduction</h4>
<%= @book.user.introduction %>

<%# スパナアイコン %>
<ul>
<% if current_user == @book.user %>
<%= link_to edit_user_path(@user) , class: "btn btn-default" do %>
<i class="glyphicon glyphicon-wrench" aria-hidden="true"></i>
<% end %>
<% else %>
<%= link_to user_path(current_user.id) , class: "btn btn-default" do %>
<i class="glyphicon glyphicon-wrench" aria-hidden="true"></i>
<% end %>
<% end %>
</ul>
</div>

<div>
  <h3>New book</h3>

<%= form_for(@post) do |f| %>

  <h4>Title</h4>
  <p><%= f.text_field :title %></p>

  <h4>Body</h4>
  <p><%= f.text_area :body %></p>

<ul><%= f.submit 'Create Book' %></ul>

<% end %>
</div>
<%# _list %>

</div>

<div class="col-md-9">
<h2>Book detail</h2>

<table class="table table-striped">
<thead>
<tr>
<th class="table_image"></th>
<th class="table_title"></th>
<th class="table_body"></th>
<th class="table_edit"></th>
<th class="table_destroy"></th>
</tr>
</thead>
<tbody>

<tr>
<td>
<%= link_to user_path(@book.user) do %>
<%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, fallback: "default_user.jpg" , size:'50x50' %>
<ul>
<%= @book.user.name %>
</ul>
<% end %>
</td>
<td><%= @book.title %></td>
<td><%= @book.body %></td>

<%# 投稿者だけが編集と削除 %>
<% if user_signed_in? && @book.user_id == current_user.id %>
  <td><%= link_to "Edit", edit_book_path(@book) %></td>
  <td><%= link_to "Destroy", book_path,method: :delete, data: { confirm: '本当に消しますか？' }  %></td>
<% else %>
<td></td>
<td></td>
<% end %>
</tr>
</tbody>
</table>


</div>
</div>
</div>

</main>

<footer>
