<% if flash[:notice] %>
  <p class="flash_color"><%= flash[:notice] %></p>
<% end %>

<head>
<title>books</title>
</head>

<main>

<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
</section>

<div class="container">
<div class="row">
<div class="col-md-3">

<%= render 'post_images/list',user: @user, book: @book %>

</div>

<div class="col-md-9">
<h2>Book detail</h2>

<table class="table table-striped">
<thead>
<tr>
<th class="table_image"></th>
<th class="table_title"></th>
<th class="table_body"></th>
<th class="table_edit"></th>
<th class="table_destroy"></th>
</tr>
</thead>
<tbody>

<tr>
<td><%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, fallback: "default_user.jpg" , size:'50x50' %></td>
<td><%= @book.title %></td>
<td><%= @book.body %></td>

<%# 投稿者だけが編集と削除 %>
<% if user_signed_in? && @book.user_id == current_user.id %>
  <td><%= link_to "Edit", edit_book_path(@book) %></td>
  <td><%= link_to "Destroy", book_path,method: :delete %></td>
<% else %>
<td></td>
<td></td>
<% end %>
</tr>
</tbody>
</table>


</div>
</div>
</div>

</main>

<footer>
