
<%# ユーザー情報予定地 %>


<div>

<h2>User info</h2>

<%# image %>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "default_user.jpg" , size:'100x100'  %>

<h4>name</h4>
<%= user.name %>

<h4>introduction</h4>
<%= user.introduction %>

<%# スパナアイコン %>
<ul>
<% if current_user == user %>
<%= link_to edit_user_path(user) , class: "btn btn-default" do %>
<i class="glyphicon glyphicon-wrench" aria-hidden="true"></i>
<% end %>
<% else %>
<%= link_to user_path(current_user.id) , class: "btn btn-default" do %>
<i class="glyphicon glyphicon-wrench" aria-hidden="true"></i>
<% end %>
<% end %>
</ul>
</div>

<div>
  <h3>New book</h3>

<%= form_for(book) do |f| %>

  <h4>Title</h4>
  <p><%= f.text_field :title %></p>

  <h4>Body</h4>
  <p><%= f.text_area :body %></p>

<ul><%= f.submit 'Create Book' %></ul>

<% end %>
</div>